@tailwind base;
@tailwind components;
@tailwind utilities;

/* .hidden-scrollbar {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
} */

.hidden-scrollbar::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.hidden-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.main-content {
  flex: 1 1 0%;
  padding: 30px 40px;
  background-color: #f5f7fa;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
